<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Detalle del empleado</title>
    <h1>Deustubular S.L.</h1>
</head>

<body>
    <div id="content">
        <h1>Gestor de Empleados</h1>
        <h2>Datos del empleado</h2>
        {% if empleado %}
            <ul>
                <li>
                    {{ empleado.equipo}}
                </li>
                <li>
                    {{ empleado.proceso}}
                </li>
                <li>
                    {{ empleado.dni}}
                </li>
                <li>
                    {{ empleado.nombre}}
                </li>
                <li>
                    {{ empleado.apellidos}}
                </li>
                <li>
                    {{ empleado.email}}
                </li>
                <li>
                    {{ empleado.telefono}}
                </li>
            </ul>
        {% else %}
            <p>No existe este empleado.</p>
        {% endif %}
    </div>
</body>

</html>