<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- base de los archivos html -->

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- favicon !!!!!!!!!!!!!!!!!!!!!!!!! -->
    <!-- No aparece en el  titulo -->
    <title>App Deustubular</title>
</head>

<body>
    <header>
        <h1><a id="logo" href="{% url 'index' %}">DEUSTUBULAR S.L.</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'equipo-list' %}">Equipo</a></li>
                <li><a href="{% url 'proceso-list' %}">Procesos</a></li>
                <li><a href="{% url 'empleado-list' %}">Empleados</a></li>
                <li><a href="{% url 'enviar_email' %}">Enviar email</a></li>
                <li><a href="{% url 'mostrar_archivos' %}">Archivos subidos</a></li>
            </ul>
        </nav>
    </header>
    {% block contenido %} {% endblock %}

    <footer id="footer">

        <main>

            <section class="footer-superior">

                <div class="RedesSociales">
                    <!-- <header> -->
                    <h2>
                        Redes Sociales
                    </h2>
                    <!-- </header> -->
                    <main>

                        <div class="boton-Facebook">
                            <a href="https://www.facebook.com">
                                <img src="../../static/images/facebook-logo-png-9.png" height="60" alt="FACEBOOK">
                            </a>
                        </div>
                        <div class="boton-Twitter">

                            <a href="https://twitter.com"><img src="../../static/images/insta.png" height="60"
                                    alt="TWITTER">
                            </a>
                        </div>
                        <div class="boton-Youtube">
                            <a href="https://www.youtube.com/"><img src="../../static/images/youtube-logo-hd-8.png"
                                    height="60" alt="YOUTUBE"></a>
                        </div>
                    </main>
                </div>

                <nav id="contenido-web">
                    <h2>
                        Contenido-web
                    </h2>
                    <ul id="Contenido-web">
                        <li>
                            <a href="./index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="index_proceso.html">Proceso</a>
                        </li>
                        <li>
                            <a href="index_empleado.html">Empleados</a>
                        </li>
                        <li>
                            <a href="index_equipo.html">Equipos</a>
                        </li>
                    </ul>
                </nav>

            </section>
        </main>


        <nav id="footer-inferior">
            <a href="https://policies.google.com/privacy?hl=es">Política de privacidad</a>
            <a href="https://www.google.com/intl/es_ALL/help/attribution_maps/">Aviso legal</a>
            <a href="https://support.google.com/chrome/answer/9564">Cookies</a>


        </nav>
        <p><a
                href="mailto:aitor.salazar@rpk.es?Subject=Este%20es%20nuestro%20proyecto%20:">soluciones@Deustubular.es</a></br>
            Copyright © Company
        </p>
    </footer>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>