{% extends "base.html" %}
{% load static %}

{% block title_page %} {% endblock %}

{% block contenido %}
    {% if proceso %}
        <ul>
            <li>
                <p>
                    Equipo:
                </p>    
                {{ proceso.equipo }}
                
            </li>
            <li>
                <p>
                    Código de orden de Fabricación:
                </p>    
                {{ proceso.codOrdenFabricacion}}
            </li>
            <li>
                <p>
                    Código del proceso: 
                </p>
                {{ proceso.codigoProceso}}
            </li>
            <li>
                <p>
                    Nombre del proceso:
                </p>    
                {{ proceso.nombreProceso}}
            </li>
            <li>
                <p>
                    Referencia:
                </p>    
                {{ proceso.referencia}}
            </li>
            <li>
                
                <p>
                    Fecha de Inicio:
                </p>    
                {{ proceso.fechaInicio}}
            </li>
            <li>
                
                <p>
                    Fecha fin:
                </p>    
                {{ proceso.fechaFin}}
            </li>
            
            <li>

                <!-- <a href="D_Tubular\forms\appFormularioG8\templates\registro.html"> -->
                    <p> Lista de Empleados: </p>
                <!-- recorrer lista -->
                {% for empleado in lista_empleados %}
                    
                    <!-- 
                    como 'empleado.proceso' no es un conjunto de objetos sino que 
                    es una FK que apunta a un objeto de tipo Proceso.-->
                    {% if empleado.proceso.nombreProceso == proceso.nombreProceso %}
            
                        <il>
                            {{ empleado.nombre }} <br>
                        </il>
            
                    {% endif %}
                    
                {% endfor %}
                <!-- </a> -->
            </li>
        </ul>
        {% else %}
            <p> No existe este proceso.</p>
        {% endif %}
{% endblock %}

