{% extends "base.html" %}
{% load static %}

{% block title_page %} {% endblock %}

{% block contenido %}
    <h1>Gestor de Equipo</h1>

    <h2>Equipo</h2>
    <!-- mismo nombre que el diccionario donde guardamos los objetos -->
    <!--comprobar si existe el equipo  -->
    {% if equipo %}
        <!-- caracteristicas de este -->
        <ul>
            <li>
                <p> Marca:  {{ equipo.marca }}</p>
            </li>
            <li>
                <p> Modelo:  {{ equipo.modelo }}</p>
            </li>
            <li>
                <p>Categoría: {{ equipo.categoria}}</p>
            </li>
            <li>
                <p> Fecha de adquisición: {{ equipo.fecha_adquisicion}} </p>
            </li>
            <li> 
                <p> Fecha de instalación: {{ equipo.fecha_instalacion }} </p>
            </li>
            <li>
                <!-- objeto marca, cada una tiene un id-->
                <p>Empleados asignados :</p>
                {% for empleado in lista_empleados %}
                    
                    <!-- para comprobar que muestra la FK  -->
                    <!-- {{ empleado.equipo }} -->
                    <!-- 
                        como 'empleado.proceso' no es un conjunto de objetos sino que 
                        es una FK que apunta a un objeto de tipo Proceso.-->
                    {% if empleado.equipo.marca == equipo.marca %}
                
                        <il>
                            {{ empleado.nombre }} <br>
                        </il>
                
                    {% endif %}
                        
                {% endfor %}
                  
                <!-- <a href="/appdeustutub/equipo/{{ equipo.id }}/empleados/">Ver empleados</a> -->
            </li>
            
        </ul>
    {% else %}
        <p> No existen detalles del equipo</p>
    {% endif %}

{% endblock %}