{% extends "base.html" %}
{% load static %}

{% block contenido %}
    <div id="content">
        <h2>Datos del proceso</h2>
        {% if proceso %}
            <ul>
                <li>
                    {{ proceso.equipo }}
                </li>
                <li>
                    {{ proceso.codOrdenFabricacion}}
                </li>
                <li>
                    {{ proceso.codigoProceso}}
                </li>
                <li>
                    {{ proceso.nombreProceso}}
                </li>
                <li>
                    {{ proceso.referencia}}
                </li>
                <li>
                    {{ proceso.fechaInicio}}
                </li>
                <li>
                    {{ proceso.fechaFin}}
                </li>
                
                <li> <a href="D_Tubular\forms\appFormularioG8\templates\registro.html">
                        <p> Lista de Empleados: </p>
                    <!-- recorrer lista -->
                    {% for empleado in lista_empleados %}
                        
                        <!-- 
                        como 'empleado.proceso' no es un conjunto de objetos sino que 
                        es una FK que apunta a un objeto de tipo Proceso.-->
                        {% if empleado.proceso.nombreProceso == proceso.nombreProceso %}
                
                            <il>
                                {{ empleado.nombre }} <br>
                            </il>
                
                        {% endif %}
                        
                    {% endfor %}

                    {% comment %} <a href="{% url 'modificar_proceso' proceso.id %}">Editar proceso</a> {% endcomment %}
                <li>  <p>
                        <a href="{% url 'borrar_proceso' proceso.id %}"><strong>Borrar proceso</strong></a>
                    </p> 
                </li>
                <li>
                    <p> <a href="{% url 'modificar_proceso' proceso.id %}"><strong>Modificar proceso</strong></a>
            </ul>
        {% else %}
            <p> No existe este proceso.</p>
        {% endif %}
    </div>
{% endblock %}

