{% extends "base.html" %}
{% load static %}

{% block contenido %}
    <h2>Datos del empleado:</h2>

    {% if empleado %}
        <ul>
            <li>
                <p>Equipo: </p>{{ empleado.equipo}}
            </li>
            <li>
                <p>Proceso: </p>{{ empleado.proceso}}
            </li>
            <li>
                <p>DNI: </p>{{ empleado.dni}}
            </li>
            <li>
                <p>Nombre: </p>{{ empleado.nombre}}
            </li>
            <li>
                <p>Apellido: </p>{{ empleado.apellidos}}
            </li>
            <li>
                <p>Email: </p>{{ empleado.email}}
            </li>
            <li>
                <p>Teléfono: </p>{{ empleado.telefono}}
            </li>
        </ul>
    {% else %}
        <p>No existe este empleado.</p>
    {% endif %}
    
{% endblock %}