{% extends "base.html" %}
{% load static %}

{% block title_page %} {% endblock %}

{% block contenido %}

    <h2>Equipo</h2>
    <!-- mismo nombre que el diccionario donde guardamos los objetos -->
    <!--comprobar si existe el equipo  -->
    {% if equipo %}
        <!-- caracteristicas de este -->
        <ul>
            <li>
                <p> Marca:</p>
                {{ equipo.marca }}
            </li>
            <li>
                <p> Modelo: </p>
                 {{ equipo.modelo }}
            </li>
            <li>
                <p>Categoría: </p>
                {{ equipo.categoria}}
            <li>
                <p> Fecha de adquisición:</p> 
                {{ equipo.fecha_adquisicion}}
            </li>
            <li> 
                <p> Fecha de instalación: </p>
                {{ equipo.fecha_instalacion }}
            </li>
            <li>
                <!-- objeto marca, cada una tiene un id-->
                <p>Empleados asignados: </p>
                {% for empleado in lista_empleados %}
                    
                    <!-- para comprobar que muestra la FK  -->
                    <!-- {{ empleado.equipo }} -->
                    <!-- 
                        como 'empleado.proceso' no es un conjunto de objetos sino que 
                        es una FK que apunta a un objeto de tipo Proceso.-->
                    {% if empleado.equipo.marca == equipo.marca %}
                            <il>
                            {{ empleado.nombre }} <br>
                        </il>
                    {% endif %}
                        
                {% endfor %}
                  
                <!-- <a href="/appdeustutub/equipo/{{ equipo.id }}/empleados/">Ver empleados</a> -->
            </li>
            
        </ul>
    {% else %}
        <p> No existen detalles del equipo</p>
    {% endif %}

{% endblock %}