{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div id="content">
    <h2>Gestor de Empleados</h2>
    <!-- Comprobar si existe el equipo -->
    {% if empleado %}
    <!-- Características de este -->
    <table>
        <tr>
            <th>Equipo</th>
            <th>Proceso</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
        </tr>
        <tr>
            <td>{{ empleado.equipo }}</td>
            <td>{{ empleado.proceso }}</td>
            <td>{{ empleado.dni }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellidos }}</td>
            <td>{{ empleado.email }}</td>
            <td>{{ empleado.telefono }}</td>
            

        </tr>
    </table>

    {% else %}
    <p> No existen detalles del equipo</p>
    {% endif %}
</div>
{% endblock %}