{% extends "base.html" %}
{% load static %}

{% block title_page %} {% endblock %}

{% block contenido %}
<div id="content">

    <ul>
        <li><a href="{% url 'add_empleado' %}"><strong>
                    <h3>Añadir un empleado</h3>
                </strong></a></li>
    </ul>
    <h2>Listado de Empleados</h2>
    <ul>
        <!-- Comprobar si hay equipos -->
        {% if lista_empleados %}
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Equipos Asociados</th>
                    <th>Procesos Asociados</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                <!-- Recorrer equipos -->
                {% for empleado in lista_empleados %}
                <tr>
                    <!-- Mostrar marca y modelo del equipo -->
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.dni }}</td>
                    <td>
                        <ul>
                            <li><a href="{% url 'detail_equipo' empleado.equipo.id %}"><strong>{{ empleado.equipo }}</strong></a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="{% url 'detail_proceso' empleado.proceso.id %}"><strong>{{ empleado.proceso }}</strong></a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="{% url 'detail_empleado' empleado.id %}"><strong>Detalles</strong></a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No existen equipos</p>
        {% endif %}
</div>
{% endblock %}