{% extends "base.html" %}
{% load static %}

{% block title_page %} {% endblock %}

{% block contenido %}
<div id="content">

    <ul>
        <li><a href="{% url 'add_equipo' %}"><strong>
                    <h3>Añadir un equipo</h3>
                </strong></a></li>
    </ul>
    <h2>Listado de Equipos</h2>
    <ul>
        <!-- Comprobar si hay equipos -->
        {% if lista_equipos %}
        <table>
            <thead>
                <tr>
                    <th>Modelo</th>

                    <th>Marca</th>

                    <th> Fecha instalacion</th>
                    
                    <th>Fecha adquisicion</th>

                    <th> Detalles</th>


                </tr>
            </thead>
            <!-- fetch-API -->
            <tbody id="tbody">

            </tbody>
        </table>
        {% else %}
        <p>No existen equipos</p>
        {% endif %}
        <script src="{% static 'js/fetch-API.js' %}"></script>


</div>

{% endblock %}