{% extends "base.html" %}
{% load static %}

{% block title_page %} {% endblock %}

{% block contenido %}
<div id="content">
    <h2>Listado de Equipos: </h2>
    <li><a href="{% url 'add_equipo' %}">Añadir un equipo</a></li>
    <!-- mismo nombre que el diccionario donde guardamos los objetos -->
    <!--comprobar si hay equipos  -->
    {% if lista_equipos %}
    <table>
        <tr>
            <!-- si hay recorrer equipos  -->
            {% for e in lista_equipos %}
            <td>
                <!-- objeto marca, cada una tiene un id-->
                <a href="{% url 'detail_equipo' e.id %}">{{ e.marca }}</a>
            </td>
            {% endfor %}
        </tr>
    </table>
    {% else %}
    <p> No existen equipos</p>
    {% endif %}
</div>
{% endblock %}