{% extends "base.html" %}
{% load static %}

{% block title_page %} {% endblock %}

{% block contenido %}
<div id="content">

    <ul>
        <li><a href="{% url 'add_proceso' %}"><strong>
                    <h3>Añadir un proceso</h3>
                </strong></a></li>
    </ul>
    <h2>Listado de Procesos</h2>
    <ul>
        <!-- Comprobar si hay equipos -->
        {% if lista_procesos %}
        <table>
            <thead>
                <tr>
                    <th>Código Proceso</th>
                    <th>Nombre</th>
                    <th>Equipo Asociado</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                <!-- Recorrer equipos -->
                {% for proceso in lista_procesos %}
                <tr>
                    <!-- Mostrar marca y modelo del equipo -->
                    <td>{{ proceso.codigoProceso }}</td>
                    <td>{{ proceso.nombreProceso }}</td>
                    <td>
                        <ul>
                            <li><a href="{% url 'detail_equipo' proceso.equipo.id %}"><strong>{{ proceso.equipo }}</strong></a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="{% url 'detail_proceso' proceso.id %}"><strong>Detalles</strong></a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No existen procesos</p>
        {% endif %}
</div>
{% endblock %}