{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div id="content">
    <div>
        <h1>Subir Archivo</h1>
        <ul>
            <li><a href="{% url 'subir_archivo' %}">Subir un archivo</a></li>
        </ul>
    </div>
    <div>
        {% if mostrar_archivos %}
        <table>
            <thead>
                <tr>
                    <th>Archivo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for archivo in archivos %}
                <tr>
                    <td>{{ archivo.archivo.name }}</td>
                    <td>
                        <ul>
                            <li><a href="{% url 'descargar_archivo' archivo.id %}">Descargar</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="{% url 'borrar_archivo' archivo.id %}">Borrar</a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No existen archivos</p>
        {% endif %}
    </div>
</div>

{% endblock %}