<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Listado de procesos:</title>
    </head>
    <body>
        <div id="content">
            <h1>Gestor de Empleados</h1>
            <h2>Listado de procesos</h2>
            {% if lista_procesos %}
                <ul>
                    {% for proceso in lista_procesos %}
                        <li>
                            <a href="/appEmpresaGrupo6/proceso/{{ proceso.id }}">{{ proceso.nombreProceso }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay procesos creados.</p>
            {% endif %}
        </div>
    </body>
</html>







